*{
    margin: 0;
    padding: 0;
}
.cabeçalho{
    background-color: #e90d7b;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cabeçalho-logo{
    padding: 24px 0;
    font-size: 24px;
}
.cabeçalho-lista-item{
    display:inline-flex;
    margin: 0 16px;
}
.imagem-escola{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#c92a7a1a,#af1751);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #2bb19f;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    padding: 24px 0;
}
.escola-div{
    width: 35%;
}
.sobre-escola{
    padding: 24px 0;
}